.App {
  text-align: center;
  background-color: purple;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  margin-top: 10px;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
}
.question-box{
  border: 2px solid black;
  margin: 5px 10px;
}
.icon{
  /* float: right; */
  position: relative;
  top:0px
}

.accordion{
  padding: 18px;
  width: 95%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  position: relative;
}
.active, .accordion:hover, button:hover {
  /* background-color: #ccc; */
}
button{
  background-color:white;
  border: none;
}
.question-title{
  display: flex;
  justify-content: space-between;
}
