.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.card{
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 16px;
}
.card img{
  width: 100%;
  height: 300px;
  border-radius: 8px;
  margin-bottom: 5px;
}
.card h2{
  margin-top: 0px;
  margin-bottom: 10px;
}
.card ul{
  list-style: none;
  margin-top: 2px;
}
.card ul>li{
  margin-top: 5px;
  
}

.card .tags>span{
  background-color: hsla(0, 0%, 50%, 0.55);
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  color: black;
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
  margin-right: 10px;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: fit-content;
}
.input-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 50px;
  background-color: #61dafb;
  
}
.input-container input{
  width: 300px;
  padding: 12px 20px;
  border-radius: 4px;
  margin: 10px;
  border-style: none;
}
.input-container button{
  padding: 10px 20px;
  font-size: large;
  border-radius: 10px;
  font-weight: bold;
  border-style: none;
}

